asgiref==3.12.1
certifi==2026.6.17
charset-normalizer==3.4.9
crispy-bootstrap5==2026.3
Django==6.0.7
django-crispy-forms==2.6
idna==3.18
pillow==12.3.0
python-decouple==3.8
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.11.0
