{% extends 'base.html' %}
{% load static %}

{% block title %}Product Detail - Electro{% endblock %}

{% block content %}
<!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Single Product</h1>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Single Product</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Products Start -->
    <div class="container-fluid shop py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg-5 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="input-group w-100 mx-auto d-flex mb-4">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                            aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="product-categories mb-4">
                        <h4>Products Categories</h4>
                        <ul class="list-unstyled">
                            {% for cat in categories %}
                            <li>
                                <div class="categories-item">
                                    <a href="{% url 'shop' %}" class="text-dark"><i class="fas fa-apple-alt text-secondary me-2"></i>{{ cat.name }}</a>
                                    <span>({{ cat.products.count }})</span>
                                </div>
                            </li>
                            {% empty %}
                            <li>
                                <div class="categories-item">
                                    <span class="text-muted">No categories available</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="additional-product mb-4">
                        <h4>Select By Color</h4>
                        <div class="additional-product-item">
                            <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                            <label for="Categories-1" class="text-dark"> Gold</label>
                        </div>
                        <div class="additional-product-item">
                            <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                            <label for="Categories-2" class="text-dark"> Green</label>
                        </div>
                        <div class="additional-product-item">
                            <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                            <label for="Categories-3" class="text-dark"> White</label>
                        </div>
                    </div>
                    <div class="featured-product mb-4">
                        <h4 class="mb-3">Featured products</h4>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-3.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">SmartPhone</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-4.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Smart Camera</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-5.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Smart Camera</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-6.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Smart Camera</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-7.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Camera Lence</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="featured-product-item">
                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                <img src="{% static 'img/product-8.png' %}" class="img-fluid rounded" alt="Image">
                            </div>
                            <div>
                                <h6 class="mb-2">Smart Camera</h6>
                                <div class="d-flex mb-2">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">2.99 $</h5>
                                    <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <a href="#" class="btn btn-primary px-4 py-3 rounded-pill w-100">Vew More</a>
                        </div>
                    </div>
                    <a href="#">
                        <div class="position-relative">
                            <img src="{% static 'img/product-banner-2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="text-center position-absolute d-flex flex-column align-items-center justify-content-center rounded p-4"
                                style="width: 100%; height: 100%; top: 0; right: 0; background: rgba(242, 139, 0, 0.3);">
                                <h5 class="display-6 text-primary">SALE</h5>
                                <h4 class="text-secondary">Get UP To 50% Off</h4>
                                <a href="#" class="btn btn-primary rounded-pill px-4">Shop Now</a>
                            </div>
                        </div>
                    </a>
                    <div class="product-tags my-4">
                        <h4 class="mb-3">PRODUCT TAGS</h4>
                        <div class="product-tags-items bg-light rounded p-3">
                            <a href="#" class="border rounded py-1 px-2 mb-2">New</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">brand</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">black</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">white</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">tablets</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">phone</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">camera</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">drone</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">television</a>
                            <a href="#" class="border rounded py-1 px-2 mb-2">sales</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-9 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-4 single-product">
                        <div class="col-xl-6">
                            <div class="single-inner bg-light rounded p-3 text-center">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid rounded w-100" style="max-height: 450px; object-fit: contain;" alt="{{ product.name }}">
                                {% else %}
                                    <img src="{% static 'img/product-4.png' %}" class="img-fluid rounded w-100" style="max-height: 450px; object-fit: contain;" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <h4 class="fw-bold mb-3">{{ product.name }}</h4>
                            <p class="mb-3">Category: {{ product.category.name }}</p>
                            <h5 class="fw-bold mb-3">KSh {{ product.price }}</h5>
                            {% if product.old_price %}
                                <del class="text-muted me-2">KSh {{ product.old_price }}</del>
                            {% endif %}
                            <div class="d-flex mb-4 align-items-center">
                                <div class="me-2" style="color: #ffc107;">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= avg_rating_int %}
                                            <i class="fas fa-star"></i>
                                        {% else %}
                                            <i class="far fa-star text-muted" style="opacity: 0.3;"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <span class="text-muted small">({{ avg_rating }} / 5 from {{ reviews.count }} review{{ reviews.count|pluralize }})</span>
                            </div>
                            <div class="mb-3">
                                <div class="btn btn-primary d-inline-block rounded text-white py-1 px-4 me-2"><i
                                        class="fab fa-facebook-f me-1"></i> Share</div>
                                <div class="btn btn-secondary d-inline-block rounded text-white py-1 px-4 ms-2"><i
                                        class="fab fa-twitter ms-1"></i> Share</div>
                            </div>
                            <div class="d-flex flex-column mb-3">
                                <small>Product ID: #{{ product.id }}</small>
                                <small>Available: <strong class="text-primary">In Stock</strong></small>
                            </div>
                            <p class="mb-4">{{ product.description }}</p>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <a href="{% url 'add_to_cart' product_id=product.id %}"
                                class="btn btn-primary border border-secondary rounded-pill px-4 py-2 mb-4 text-white" style="background-color: #f28b00; border-color: #f28b00;"><i
                                    class="fa fa-shopping-bag me-2 text-white"></i> Add to cart</a>
                            <a href="{% url 'add_to_wishlist' product_id=product.id %}"
                                class="btn btn-outline-primary border border-secondary rounded-pill px-4 py-2 mb-4 ms-2" style="color: #f28b00; border-color: #f28b00;"><i
                                    class="fa fa-heart me-2"></i> Add to Wishlist</a>
                        </div>
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button"
                                        role="tab" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">Description</button>
                                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">Reviews</button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    <p>Our new <b class="fw-bold">HPB12 / A12 battery</b> is rated at 2000mAh and
                                        designed to power up Black and Decker / FireStorm line of 12V tools allowing
                                        users to run multiple devices off the same battery pack. The HPB12 is compatible
                                        with the following Black and Decker power tool models:
                                    </p>
                                    <b class="fw-bold">Black & Decker Drills and Drivers:</b>
                                    <p class="small">BD12PSK, BDG1200K, BDGL12K, BDID1202, CD1200SK, CD12SFK, CDC1200K,
                                        CDC120AK, CDC120ASB, CP122K, CP122KB, CP12K, CP12KB, EPC12, EPC126, EPC126BK,
                                        EPC12CA, EPC12CABK, HP122K, HP122KD, HP126F2B, HP126F2K, HP126F3B, HP126F3K,
                                        HP126FBH, HP126FSC, HP126FSH, HP126K, HP128F3B, HP12K, HP12KD, HPD1200, HPD1202,
                                        HPD1202KF, HPD12K-2, PS122K, PS122KB, PS12HAK, SS12, SX3000, SX3500, XD1200,
                                        XD1200K, XTC121
                                    </p>
                                    <b class="fw-bold">lack & Decker Impact Wrenches:</b>
                                    <p class="small">SX5000, XTC12IK, XTC12IKH</p>
                                    <b class="fw-bold">Black & Decker Multi-Tools:</b>
                                    <p class="small">KC2000FK</p>
                                    <b class="fw-bold">Black & Decker Nailers:</b>
                                    <p class="small">BDBN1202</p>
                                    <b class="fw-bold">Black & Decker Screwdrivers:</b>
                                    <p class="small">HP9019K</p>
                                    <b class="fw-bold mb-0">Best replacement for the following Black and Decker OEM
                                        battery part numbers:</b>
                                    <p class="small">HPB12, A12, A12EX, A12-XJ, A1712, B-8315, BD1204L, BD-1204L,
                                        BPT1047, FS120B, FS120BX, FSB12.</p>
                                </div>
                                <div class="tab-pane active" id="nav-mission" role="tabpanel"
                                    aria-labelledby="nav-mission-tab">
                                    {% for review in reviews %}
                                    <div class="d-flex mb-4 align-items-start border-bottom pb-3">
                                        <div class="bg-primary rounded-circle text-white d-flex align-items-center justify-content-center me-3" style="width: 50px; height: 50px; background-color: #f28b00 !important; flex-shrink: 0;">
                                            <i class="fa fa-user fa-lg"></i>
                                        </div>
                                        <div class="w-100">
                                            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center mb-1">
                                                <h5 class="mb-0 fw-bold text-dark">{{ review.user.username }}</h5>
                                                <small class="text-muted">{{ review.created_at|date:"F d, Y \a\t g:i a" }}</small>
                                            </div>
                                            <div class="d-flex mb-2" style="color: #ffc107;">
                                                {% for i in "12345" %}
                                                    {% if forloop.counter <= review.rating %}
                                                        <i class="fas fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star text-muted" style="opacity: 0.3;"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <p class="text-muted mb-0">{{ review.comment }}</p>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="text-center py-4">
                                        <p class="text-muted">No reviews yet for this product. Be the first to leave a reply!</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" id="nav-vision" role="tabpanel">
                                    <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et
                                        tempor sit. Aliqu diam
                                        amet diam et eos labore. 3</p>
                                    <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos
                                        labore.
                                        Clita erat ipsum et lorem et sit</p>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'add_review' product_id=product.id %}" method="POST" class="mt-5">
                            {% csrf_token %}
                            <h4 class="mb-4 fw-bold">Leave a Review</h4>
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0 me-3 fw-bold text-dark">Please rate:</p>
                                        <div class="d-flex align-items-center gap-1" style="font-size: 20px; cursor: pointer; color: #ffb300;">
                                            <input type="hidden" name="rating" id="rating-input" value="5">
                                            <i class="fas fa-star rating-star" data-value="1"></i>
                                            <i class="fas fa-star rating-star" data-value="2"></i>
                                            <i class="fas fa-star rating-star" data-value="3"></i>
                                            <i class="fas fa-star rating-star" data-value="4"></i>
                                            <i class="fas fa-star rating-star" data-value="5"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border rounded p-3 bg-light">
                                        <textarea name="comment" class="form-control border-0 bg-light" cols="30" rows="6" placeholder="Your Review *" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary rounded-pill px-5 py-3 text-white fw-bold text-uppercase" style="background-color: #f28b00; border-color: #f28b00;">
                                        Submit Review
                                    </button>
                                </div>
                            </div>
                        </form>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var stars = document.querySelectorAll('.rating-star');
                                var ratingInput = document.getElementById('rating-input');
                                stars.forEach(function(star) {
                                    star.addEventListener('click', function() {
                                        var value = parseInt(this.getAttribute('data-value'));
                                        ratingInput.value = value;
                                        stars.forEach(function(s, idx) {
                                            if (idx < value) {
                                                s.classList.remove('far', 'text-muted');
                                                s.classList.add('fas');
                                                s.style.color = '#ffc107';
                                            } else {
                                                s.classList.remove('fas');
                                                s.classList.add('far', 'text-muted');
                                                s.style.color = '#ccc';
                                            }
                                        });
                                    });
                                    star.style.color = '#ffc107';
                                });
                            });
                        </script>
                        {% else %}
                        <div class="alert alert-warning rounded-3 shadow-sm mt-5" role="alert">
                            Please <a href="{% url 'login' %}?next={{ request.path }}" class="alert-link">sign in</a> to leave a review for this product.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Products End -->

    <!-- Related Product Start -->
    <div class="container-fluid related-product">
        <div class="container">
            <div class="mx-auto text-center pb-5" style="max-width: 700px;">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                    data-wow-delay="0.1s">Related Products</h4>
                <p class="wow fadeInUp" data-wow-delay="0.2s">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Modi, asperiores ducimus sint quos tempore officia similique quia? Libero, pariatur consectetur?</p>
            </div>
            <div class="related-carousel owl-carousel pt-4">
                {% for rel in related_products %}
                <div class="related-item rounded">
                    <div class="related-item-inner border rounded">
                        <div class="related-item-inner-item">
                            {% if rel.image %}
                                <img src="{{ rel.image.url }}" class="img-fluid w-100 rounded-top" alt="{{ rel.name }}">
                            {% else %}
                                <img src="{% static 'img/product-3.png' %}" class="img-fluid w-100 rounded-top" alt="{{ rel.name }}">
                            {% endif %}
                            {% if rel.is_new %}
                                <div class="related-new">New</div>
                            {% endif %}
                            <div class="related-details">
                                <a href="{% url 'product_detail' product_id=rel.id %}"><i class="fa fa-eye fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="text-center rounded-bottom p-4">
                            <a href="{% url 'product_detail' product_id=rel.id %}" class="d-block mb-2 text-muted">{{ rel.category.name }}</a>
                            <a href="{% url 'product_detail' product_id=rel.id %}" class="d-block h4">{{ rel.name }}</a>
                            {% if rel.old_price %}
                                <del class="me-2 fs-5 text-muted">KSh {{ rel.old_price }}</del>
                            {% endif %}
                            <span class="text-primary fs-5">KSh {{ rel.price }}</span>
                        </div>
                    </div>
                    <div class="related-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                        <a href="{% url 'add_to_cart' product_id=rel.id %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i
                                class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                            <div class="d-flex">
                                <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></span></a>
                                <a href="{% url 'add_to_wishlist' product_id=rel.id %}" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center py-4">
                    <p class="text-muted">No related products found.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Related Product End -->
{% endblock %}
